/* 
.div4{
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    margin-bottom: 5%;

}
.card{
    padding: 2px;
    width: 250px;
    height: 300px;
    border-radius: 40px;
    border: 3px solid black;
    background-color: rgb(155, 22, 208);
    
}
.card > p{
    margin: 0px;
    text-align: center;
}
    
.card > img {
    width: 250px;
    height: 200px;
border-radius: 30px;

}
.button {
    margin-top: 20px;
    margin-left: 1%;
}
.button span{
    background-color: #b7e60d;
    border:1px solid black;
    padding:5px 20px;
} */
/* .div4 {overflow: auto;}

.button {margin-left: 4px;}

.card {
  float: none;
  width: auto;

}

#menulist {
  margin: 0;
  padding: 0;
}

.menuitem {
  background: #CDF0F6;
  border: 1px solid #6e5656;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
   */
.div4{
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    margin-bottom: 5%;

}
.card{
    padding: 2px;
    width: 250px;
    height: 300px;
    border-radius: 40px;
    border: 3px solid black;
    background-color: rgb(155, 22, 208);
    
}
.card > p{
    margin: 0px;
    text-align: center;
}
.card > img {
    width: 250px;
    height: 200px;
border-radius: 30px;

}
.button {
    margin-top: 20px;
    margin-left: 1%;
}
.button span{
    background-color: #b7e60d;
    border:1px solid black;
    padding:5px 20px;
}
@media query {
    @media (min-width: 320px)
    @media (min-width: 480px) 
    @media (min-width: 600px) 
    @media (min-width: 801px)
   @media (min-width: 10250px) 
   @media (min-width: 1281px)
}

