
/*1.classlist and classlist_remove   */
/* .sai1{
    background-color: brown;
}
.sai2{
    background-color: rgb(27, 222, 59);
} */

/* 2.remove and add text */
/* .bgColor{
    background-color: red;
}
.sai1{
    background-color: rgb(17, 228, 73);
} */

/* 3.bgtheme */
/* .theme{
    background-color: black;
    color: white;
} */


/* events */
/* .hoverbox{
width:200px;
height: 300px;


} */